* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #e7e7e7;
  width: 100%;
  height: 100vh;
  color: #fff;
  font-family: "Gruppo", sans-serif;
}

.parallax {
  background-image: url(prep.svg);

  height: 100vh;

  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  position: relative;
  max-width: 400px; /* Set the maximum width of the container */
  margin: 0 auto; /* Center the container horizontally */
}

.subjects {
  width: 100%;
  height: auto;
  display: block;
}

.button {
  position: absolute;
  top: 75%;
  left: 20%;
  transform: translate(-50%, -50%);
  padding: 10px 20px;
  background-color: transparent;
  color: transparent;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  width: 50px;
}

#targetElement {
  margin-top: 50px; /* Adjust the margin based on your layout */
}

#quiz-container {
  width: 100%;
  position: relative;
  margin: 0 auto !important;
  max-width: 1000px;
  border: 2px #000 solid;
  padding: 20px 10px 40px 10px;
  border-radius: 20px;
}

.question {
  margin-bottom: 20px;
  color: #000;
  width: 784px;
  height: 77px;
  font-size: 40px;
}

.options {
  width: 300px;
  border-radius: 66px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.option {
  padding: 10px;
  cursor: pointer;
  background-color: black;
  color: white;
  border: none;
  border-radius: 5px;
}

#finish-btn {
  margin-top: 30px;
  padding: 10px;
  cursor: pointer;
  background-color: gray;
  color: white;
  border: none;
  border-radius: 5px;
  overflow: hidden;
}

#nav-container {
  border-radius: 35px;
  margin-top: 60px;
}

.back-off-foo {
  width: 900px;
  height: 40px;
  position: absolute;
  z-index: -1;
  background: black;
}

.nav-button {
  cursor: pointer;
  width: 90px;
  height: 40px;
  color: white;
  background-color: black;
  border-color: transparent;
}

#score-container {
  width: 100px;
  font-size: 20px;
  margin-top: -140px;
  position: absolute;
  margin-left: 800px;
}

#start-btn {
  padding: 10px;
  cursor: pointer;
  background-color: black;
  color: white;
  border: none;
  border-radius: 30px;
}

#diagram-container {
  display: none; /* Hide the diagram initially */
  margin-top: 30px;
}

#result-table {
  margin-top: 30px;
  border-collapse: collapse;
  width: 100%;
}

#result-table th,
#result-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

#result-table th {
  background-color: #f2f2f2;
}
